<div class="row">
<div class="col-xs-12">

  <div class="row" *ngIf="showMap">
  <div class="col-xs-12">
      <form (submit)="onOriginSubmit()">
      <fieldset class="scheduler-border">
          <legend class="scheduler-border">Elija su Opcion</legend>
          <div class="row">
            <div class="form-group col-xs-6">
              <label for="mapToLoad" class="control-label">Estado</label>
              <select name="mapToLoad" class="form-control" [(ngModel)]="mapToLoad" (change)="cambiarMapa()">
                  <option *ngFor="let state of states" [value]="state">{{state}}</option>
              </select>              
            </div>
          </div>

        <div class="row">

          <div class="col-xs-4">
              <button type="button" class="btn btn-info" (click)="drawUniversities()">Ver universidades</button>
          </div>
          <div class="col-xs-4">          
              <button type="button" class="btn btn-info" (click)="drawCareers()">Ver oferta academica</button>
          </div>

          <div class="col-xs-4">
              <button type="button" class="btn btn-info" (click)="getStudents()">Ver distribucion academica</button>         
          </div>

        </div>

      </fieldset>
      </form>
  </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id="map" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"></div>
    </div>
  </div>

  <div *ngIf="showMap" class="row">
      <div class="col-xs-11"></div>
      <div class="col-xs-1">
        <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Descargar Capas (GeoJSON)" (click)="descargarCapas()"><span class="glyphicon glyphicon-download-alt"></span></button>
      </div>
  </div>

  <div id="panelInferior">
    
    <div *ngIf="showingCareers" class="panel panel-default">
        {{scrollToLowerPanel()}}

        <div *ngIf="careersOne">
        <h4>Informacion de la carrera seleccionada</h4>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Area</th>
                    <th>Especialidad</th>
                    <th>Tipo</th>
                    <th>Disponible en</th>
                  </tr>
                </thead>
                <tbody [(ngModel)]="currentCareer" ngDefaultControl>
                  <tr>
                    <td>{{currentCareer.nombre}}</td>
                    <td>{{currentCareer.titulo}}</td>
                    <td>{{currentCareer.especialidad}}</td>
                    <td>{{currentCareer.area}}</td>
                    <td>{{currentCareer.duracion}}</td>
                    <td>{{currentCareer.modalidad}}</td>
                    <td><button class="btn btn-info" (click)="goToUnivs();" id="univs_button"><span class="glyphicon glyphicon-search"></span></button></td>
                  </tr>
                </tbody>
            </table>
        </div>
        </div>
    
        <div>
          <div *ngIf="careersTwo">
            <h4><button (click)="backToCareer()">Volver</button> Universidades disponibles para la carrera seleccionada</h4>        
          </div>
    
          <div class="" id="univs_match">
            
          </div>
        </div>
    </div>
    
    <div *ngIf="showingUniversity" class="panel panel-default">
        {{scrollToLowerPanel()}}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Informacion de la universidad</th>
                  </tr>
                </thead>
                <tbody [(ngModel)]="currentUniv" ngDefaultControl>
                  <tr>
                    <td>Nombre</td>
                    <td>{{currentUniv.nombre}}</td>
                  </tr>
                  <tr>
                    <td>Municipio</td>
                    <td>{{currentUniv.ubicacion.municipio.nombre}}</td>
                  </tr>
                  <tr> 
                  <tr>
                    <td>Parroquia</td>
                    <td>{{currentUniv.ubicacion.nombre}}</td>
                  </tr>
                  <tr>
                    <td>Capacidad</td>
                    <td>{{currentUniv.capacidad}}</td>
                  </tr>              
                  <tr>
                    <td>Población</td>
                    <td>{{currentUniv.matricula}}</td>
                  </tr>              
                </tbody>
            </table>
        </div>
    </div>
    
    <div *ngIf="showingUnivCarreers" class="panel panel-default">
        <h4>Carreras disponibles en la universidad seleccionada</h4>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Titulo</th>
                    <th>Especialidad</th>
                    <th>Area</th>
                    <th>Duracion</th>
                    <th>Modalidad</th>
                  </tr>
                </thead>
                <tbody [(ngModel)]="currentUniv" ngDefaultControl>

                  <tr *ngFor="let career of currentUniv.carreras">
                    <td>{{career.carrera.nombre}}</td>
                    <td>{{career.carrera.area}}</td>
                    <td>{{career.carrera.especialidad}}</td>
                    <td>{{career.modalidad}}</td>
                    <td><table><tbody><tr *ngFor="let titulo of career.titulos"><td>{{titulo.duracion}}</td></tr></tbody></table></td>
                    <td><table class="table table-hover"><tbody><tr *ngFor="let titulo of career.titulos"><td>{{titulo.titulo}}</td></tr></tbody></table></td>
                  </tr>

                </tbody>
            </table>
        </div>
    </div>
    
    <div *ngIf="showingSortedCareers" class="panel panel-default">
        {{scrollToLowerPanel()}}
    
      <h4>Seleccione la carrera por la cual desea ordenar su busqueda</h4>
      <div class="row">
        <div class="col-xs-4">
          <button type="button" (click)="selectForms('a')">Primaria</button>
        </div>
        <div class="col-xs-4">
          <button type="button" (click)="selectForms('b')">Secundaria</button>
        </div>
        <div class="col-xs-4">
          <button type="button" (click)="selectForms('c')">Terciaria</button>
        </div>
      </div>
    
    </div>
    
    <div *ngIf="showingSortedCareers2" class="panel panel-default">
    
      <div>
        
        <h4>Elija una opcion para clasificar</h4>
        <div class="row">
          <div class="col-xs-4">
            <button type="button" (click)="loadSortedCareers('Especialidad')">Especialidad</button>
          </div>
          <div class="col-xs-4">
            <button type="button" (click)="loadSortedCareers('Area')">Area</button>
          </div>
          <div class="col-xs-4">
            <button type="button" (click)="loadSortedCareers('Carrera')">Carrera</button>
          </div>
        </div>
    
      </div>
      <hr/>
    
      <div id="sortedCareers3">
        

      </div>
    
    </div>
    
    <div *ngIf="showStudents" class="row">
      <div class="col-xs-12">

        <form class="form">    
          <fieldset class="scheduler-border">
          <legend class="scheduler-border">Año Académico</legend>
            <div class="row">        
                <div class="form-group col-xs-4">
                  <label class="control-label" for="ano">Año</label>  
                  <input type="number" min="1990" class="form-control" id="ano" [(ngModel)]="ano" name="ano">
                </div>
                <div class="form-group col-xs-2">      
                  <button type="button" (click)="drawStudents()" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </fieldset>
        </form>
        
      </div>
    </div>


</div>
</div>