<div class="btn" *ngIf="!mostrarFormulario">
  <button type="button" class="btn btn-danger" id="volver" [routerLink]="['/admin']">Volver</button>
</div>

<div class="container">

    <div class="row">
      
      <div class="btn-group-vertical" *ngIf="!mostrarFormulario">
        <button type="button" class="btn btn-primary" id="reg-sni" (click)="cargarFormulario()">Registrar SNI</button>
        <button type="button" class="btn btn-warning" id="update-sni">Actualizar SNI</button>
        <button type="button" class="btn btn-danger" id="del-sni">Eliminar SNI</button>
      </div>
      

      <div class="btn" *ngIf="mostrarFormulario">
        <button type="button" class="btn btn-danger" id="cancelar-registro" (click)="quitarFormulario()">Cancelar</button>
      </div>
    
    </div>


    <div class="row" *ngIf="mostrarFormulario">
        <form class="form-horizontal" (submit)="enviarFormulario()">
          
        <div class="form-group">
          <div class="col-xs-12">
            <h3 class="text-center">Registrar SNI</h3>
          </div>
        </div>

        <fieldset>

        <!-- Codigo -->
        <div class="form-group">
          <label class="col-xs-5 control-label" for="codigo">Codigo</label>  
          <div class="col-xs-3">
            <input id="codigo" [(ngModel)]="codigo" name="codigo" type="text" maxlength="8" placeholder="A0A0A0B" class="form-control input-xs">
          </div>
        </div>
        
        <!-- Cedula -->
        <div class="form-group">
          <label class="col-xs-5 control-label" for="cedula">Cedula</label>  
          <div class="col-xs-3">
            <input id="cedula" [(ngModel)]="cedula" name="cedula" type="text" placeholder="123456789" class="form-control input-xs">
          </div>
        </div>

        <!-- Ano-->
        <div class="form-group">
          <label class="col-xs-5 control-label" for="ano">Ano</label>  
          <div class="col-xs-3">

            <select [(ngModel)]="ano" name="ano" id="ano">
              <option value="" selected></option>
              {{asignarAnos()}}
            </select>

          </div>
        </div>


        <!-- Resultados-->
        <div class="form-group">
          
          {{pedirCarreras()}}
          <div class="btn-goup">

            <label class="col-xs-5 control-label" for="resultados">Ordenar por: </label>
            
            <label class="btn btn-primary">
              <input type="radio" name="clasificacion" id="boton1" (click)="cargarClasificacion('Especialidad')" autocomplete="off" disabled>Especialidad
            </label>

            <label class="btn btn-primary">
            <input type="radio" id="boton2" name="clasificacion" (click)="cargarClasificacion('Area')" autocomplete="off" disabled>Area
            </label>
          </div>

                    
          <div>
            <label class="control-label" for="clase">Clasificacion</label>
            <select id="clases" [(ngModel)]="clase" name="clase" (change)="cargarOpcionesCarrera()">
                
            </select>
          </div>
          
          <div>
            <label class="control-label" for="carrera">Carrera</label>
            <select id="opcionesCarreras" [(ngModel)]="carreraActual" name="carreraActual" (change)="enableAddButtons()">
                
            </select>
          </div>
          
        </div>
        
        <div id="inputsCarreras" class="form-group">


          <div>
            <div class="col-xs-5">
            </div>
            <div class="">
              <input type="text" value={{resultados.a}} disabled><button type="button" (click)="addCareer('a')" id="add_a" disabled>+</button><button type="button" (click)="clearCareer('a')" id="remove_a" disabled>X</button>
            </div>
          </div>          

          <div>
            <div class="col-xs-5">
            </div>
            <div class="">
              <input type="text" value={{resultados.b}} disabled><button type="button" (click)="addCareer('b')" id="add_b" disabled>+</button><button type="button" (click)="clearCareer('b')" id="remove_b" disabled>X</button>
            </div>
          </div>          

          <div>
            <div class="col-xs-5">
            </div>
            <div class="">
              <input type="text" value={{resultados.c}} disabled><button type="button" (click)="addCareer('c')" id="add_c" disabled>+</button><button type="button" (click)="clearCareer('c')" id="remove_c" disabled>X</button>
            </div>
          </div>          

          <div>
            <div class="col-xs-5">
            </div>
            <div class="">
              <input type="text" value={{resultados.d}} disabled><button type="button" (click)="addCareer('d')" id="add_d" disabled>+</button><button type="button" (click)="clearCareer('d')" id="remove_d" disabled>X</button>
            </div>
          </div>          

          <div>
            <div class="col-xs-5">
            </div>
            <div class="">
              <input type="text" value={{resultados.e}} disabled><button type="button" (click)="addCareer('e')" id="add_e" disabled>+</button><button type="button" (click)="clearCareer('e')" id="remove_e" disabled>X</button>
            </div>
          </div>          

          <div>
            <div class="col-xs-5">
            </div>
            <div class="">
              <input type="text" value={{resultados.f}} disabled><button type="button" (click)="addCareer('f')" id="add_f" disabled>+</button><button type="button" (click)="clearCareer('f')" id="remove_f" disabled>X</button>
            </div>
          </div>


        </div>

        <!-- Submit-->
        <div class="form-group">
          <div class="col-xs-5">
          </div>

          <div class="col-xs-4">
              <input type="submit" id="reg" class="btn btn-primary" value="Registrar" disabled>
          </div>
        </div>  
        
        </fieldset>
        </form>
    </div>

</div>