<div class="btn">
  <button type="button" class="btn btn-danger" id="volver" [routerLink]="['/admin']">Volver</button>
</div>


<div class="container">


    <div class="row"> 
      <div class="col-xs-6">
      
      </div>

      <div class="col-xs-6">
      
      </div>
    </div>



    <div class="row"> 
      <div class="col-xs-6">
      
      </div>

      <div class="col-xs-6">
      
      </div>
    </div>
      
</div>


<div id="testingCharts" class="panel panel-default">
    <button type="button" (click)="firstChart()">Primer chart</button>
    <button type="button" (click)="secondChart()">Segundo chart</button>
    <canvas id="myChart"></canvas>
</div>

