<h2>profile works!</h2>
<div *ngIf="user" class="col-md-5">
    <h2 class="page header">{{user.name}}</h2>
    <ul class="list-group">
        <li class="list-group-item">Usuario: {{user.username}}</li>
        <li class="list-group-item">email: {{user.email}}</li>
        <li class="list-group-item">email: {{user.email}}</li>
        <li class="list-group-item">
            <button type="button" class="btn btn-warning">Editar usuario</button>
            <button type="button" (click)="deleteUser(user)" class="btn btn-danger">Eliminar usuario</button>
        </li>
        
    </ul>
</div>
