#btn1, #btn2 {
    transition: all 0.4s;
}
#btn1:hover, #btn2:hover {
    opacity: 0.8; transition: all 0.4s;
}
#btn1:active, #btn2:active {
    opacity: 1; transition: all 0.1s;
}
div.containerLeft{
    position: static;
}
div.containerRight{
    position: static;
}
div#linkset1, div#btnset1, div#linkset2, div#btnset2 {
    position: absolute;
}
div#linkset1, div#linkset2{
    z-index: 1;
}
div#btnset1, div#btnset2{
    z-index: 2;
}
div.linksLeft > img, div.linksRight > img {
    position: absolute;
}
#btn1, #btn2 {
    z-index: 10;
}
#link1 {
    z-index: 1;
}
#link2 {
    z-index: 2;
}
#link3{
    z-index: 1;
}
#link4{
    z-index: 2;
}
#link5{
    z-index: 3;
}
#link6{
    z-index: 4;
}



/*
LINK 1 y 4
*/

.link1Go, .link4Go{
  animation: link1Go linear 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: link1Go linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: link1Go linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: link1Go linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
}

@keyframes link1Go{
  0% {
    transform:  translate(0px,0px)  ;
  }
  26% {
    transform:  translate(-10px,30px)  ;
  }
  50% {
    transform:  translate(-20px,45px)  ;
  }
  76% {
    transform:  translate(-30px,60px)  ;
  }
  100% {
    transform:  translate(-40px,70px)  ;
  }
}

@-moz-keyframes link1Go{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  26% {
    -moz-transform:  translate(-10px,30px)  ;
  }
  50% {
    -moz-transform:  translate(-20px,45px)  ;
  }
  76% {
    -moz-transform:  translate(-30px,60px)  ;
  }
  100% {
    -moz-transform:  translate(-40px,70px)  ;
  }
}

@-webkit-keyframes link1Go {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  26% {
    -webkit-transform:  translate(-10px,30px)  ;
  }
  50% {
    -webkit-transform:  translate(-20px,45px)  ;
  }
  76% {
    -webkit-transform:  translate(-30px,60px)  ;
  }
  100% {
    -webkit-transform:  translate(-40px,70px)  ;
  }
}

@-o-keyframes link1Go {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  26% {
    -o-transform:  translate(-10px,30px)  ;
  }
  50% {
    -o-transform:  translate(-20px,45px)  ;
  }
  76% {
    -o-transform:  translate(-30px,60px)  ;
  }
  100% {
    -o-transform:  translate(-40px,70px)  ;
  }
}

.link1Back{
  animation: link1Back linear 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: link1Back linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: link1Back linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: link1Back linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: link1Back linear 0.3s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes link1Back{
  0% {
    transform:  translate(-40px,70px)  ;
  }
  26% {
    transform:  translate(-30px,40px)  ;
  }
  50% {
    transform:  translate(-20px,25px)  ;
  }
  76% {
    transform:  translate(-10px,10px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes link1Back{
  0% {
    -moz-transform:  translate(-40px,70px)  ;
  }
  26% {
    -moz-transform:  translate(-30px,40px)  ;
  }
  50% {
    -moz-transform:  translate(-20px,25px)  ;
  }
  76% {
    -moz-transform:  translate(-10px,10px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes link1Back {
  0% {
    -webkit-transform:  translate(-40px,70px)  ;
  }
  26% {
    -webkit-transform:  translate(-30px,40px)  ;
  }
  50% {
    -webkit-transform:  translate(-20px,25px)  ;
  }
  76% {
    -webkit-transform:  translate(-10px,10px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes link1Back {
  0% {
    -o-transform:  translate(-40px,70px)  ;
  }
  26% {
    -o-transform:  translate(-30px,40px)  ;
  }
  50% {
    -o-transform:  translate(-20px,25px)  ;
  }
  76% {
    -o-transform:  translate(-10px,10px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes link1Back {
  0% {
    -ms-transform:  translate(-40px,70px)  ;
  }
  26% {
    -ms-transform:  translate(-30px,40px)  ;
  }
  50% {
    -ms-transform:  translate(-20px,25px)  ;
  }
  76% {
    -ms-transform:  translate(-10px,10px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}


/*
LINK 2 y 5
*/


.link2Go{
  animation: link2Go linear 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: link2Go linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: link2Go linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: link2Go linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
}

@keyframes link2Go{
  0% {
    transform:  translate(0px,0px)  ;
  }
  26% {
    transform:  translate(10px,30px)  ;
  }
  50% {
    transform:  translate(20px,45px)  ;
  }
  76% {
    transform:  translate(30px,60px)  ;
  }
  100% {
    transform:  translate(40px,70px)  ;
  }
}

@-moz-keyframes link2Go{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  26% {
    -moz-transform:  translate(10px,30px)  ;
  }
  50% {
    -moz-transform:  translate(20px,45px)  ;
  }
  76% {
    -moz-transform:  translate(30px,60px)  ;
  }
  100% {
    -moz-transform:  translate(40px,70px)  ;
  }
}

@-webkit-keyframes link2Go {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  26% {
    -webkit-transform:  translate(10px,30px)  ;
  }
  50% {
    -webkit-transform:  translate(20px,45px)  ;
  }
  76% {
    -webkit-transform:  translate(30px,60px)  ;
  }
  100% {
    -webkit-transform:  translate(40px,70px)  ;
  }
}

@-o-keyframes link2Go {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  26% {
    -o-transform:  translate(10px,30px)  ;
  }
  50% {
    -o-transform:  translate(20px,45px)  ;
  }
  76% {
    -o-transform:  translate(30px,60px)  ;
  }
  100% {
    -o-transform:  translate(40px,70px)  ;
  }
}

.link2Back{
  animation: link2Back linear 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: link2Back linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: link2Back linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: link2Back linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: link2Back linear 0.3s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes link2Back{
  0% {
    transform:  translate(40px,70px)  ;
  }
  26% {
    transform:  translate(30px,40px)  ;
  }
  50% {
    transform:  translate(20px,25px)  ;
  }
  76% {
    transform:  translate(10px,10px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes link2Back{
  0% {
    -moz-transform:  translate(40px,70px)  ;
  }
  26% {
    -moz-transform:  translate(30px,40px)  ;
  }
  50% {
    -moz-transform:  translate(20px,25px)  ;
  }
  76% {
    -moz-transform:  translate(10px,10px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes link2Back {
  0% {
    -webkit-transform:  translate(40px,70px)  ;
  }
  26% {
    -webkit-transform:  translate(30px,40px)  ;
  }
  50% {
    -webkit-transform:  translate(20px,25px)  ;
  }
  76% {
    -webkit-transform:  translate(10px,10px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes link2Back {
  0% {
    -o-transform:  translate(40px,70px);
  }
  26% {
    -o-transform:  translate(30px,40px);
  }
  50% {
    -o-transform:  translate(20px,25px);
  }
  76% {
    -o-transform:  translate(10px,10px);
  }
  100% {
    -o-transform:  translate(0px,0px);
  }
}

@-ms-keyframes link2Back {
  0% {
    -ms-transform:  translate(40px,70px);
  }
  26% {
    -ms-transform:  translate(30px,40px);
  }
  50% {
    -ms-transform:  translate(20px,25px);
  }
  76% {
    -ms-transform:  translate(10px,10px);
  }
  100% {
    -ms-transform:  translate(0px,0px);
  }
}










.link5Go{
  animation: link5Go linear 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: link5Go linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: link5Go linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: link5Go linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
}

@keyframes link5Go{
  0% {
    transform:  translate(0px,0px)  ;
  }
  26% {
    transform:  translate(10px,25px)  ;
  }
  50% {
    transform:  translate(20px,35px)  ;
  }
  76% {
    transform:  translate(30px,50px)  ;
  }
  100% {
    transform:  translate(40px,70px)  ;
  }
}

@-moz-keyframes link5Go{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  26% {
    -moz-transform:  translate(10px,25px)  ;
  }
  50% {
    -moz-transform:  translate(20px,35px)  ;
  }
  76% {
    -moz-transform:  translate(30px,50px)  ;
  }
  100% {
    -moz-transform:  translate(40px,70px)  ;
  }
}

@-webkit-keyframes link5Go {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  26% {
    -webkit-transform:  translate(10px,25px)  ;
  }
  50% {
    -webkit-transform:  translate(20px,35px)  ;
  }
  76% {
    -webkit-transform:  translate(30px,50px)  ;
  }
  100% {
    -webkit-transform:  translate(40px,70px)  ;
  }
}

@-o-keyframes link5Go {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  26% {
    -o-transform:  translate(10x,25px)  ;
  }
  50% {
    -o-transform:  translate(20px,35px)  ;
  }
  76% {
    -o-transform:  translate(30px,50px)  ;
  }
  100% {
    -o-transform:  translate(40px,70px)  ;
  }
}

.link5Back{
  animation: link5Back linear 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: link5Back linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: link5Back linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: link5Back linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: link5Back linear 0.3s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes link5Back{
  0% {
    transform:  translate(40px,70px)  ;
  }
  26% {
    transform:  translate(30px,40px)  ;
  }
  50% {
    transform:  translate(20px,25px)  ;
  }
  76% {
    transform:  translate(10px,10px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes link5Back{
  0% {
    -moz-transform:  translate(40px,70px)  ;
  }
  26% {
    -moz-transform:  translate(30px,40px)  ;
  }
  50% {
    -moz-transform:  translate(20px,25px)  ;
  }
  76% {
    -moz-transform:  translate(10px,10px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes link5Back {
  0% {
    -webkit-transform:  translate(40px,70px)  ;
  }
  26% {
    -webkit-transform:  translate(30px,40px)  ;
  }
  50% {
    -webkit-transform:  translate(20px,25px)  ;
  }
  76% {
    -webkit-transform:  translate(10px,10px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes link5Back {
  0% {
    -o-transform:  translate(40px,70px)  ;
  }
  26% {
    -o-transform:  translate(30px,40px)  ;
  }
  50% {
    -o-transform:  translate(20px,25px)  ;
  }
  76% {
    -o-transform:  translate(10px,10px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes link5Back {
  0% {
    -ms-transform:  translate(40px, 70px)  ;
  }
  26% {
    -ms-transform:  translate(30px,40px)  ;
  }
  50% {
    -ms-transform:  translate(20px,25px)  ;
  }
  76% {
    -ms-transform:  translate(10px,10px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}





















.link6Go{
  animation: link6Go linear 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: link6Go linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: link6Go linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: link6Go linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
}

@keyframes link6Go{
  0% {
    transform:  translate(0px,0px)  ;
  }
  26% {
    transform:  translate(40px,15px)  ;
  }
  50% {
    transform:  translate(60px,25px)  ;
  }
  76% {
    transform:  translate(80px,35px)  ;
  }
  100% {
    transform:  translate(100px,40px)  ;
  }
}

@-moz-keyframes link6Go{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  26% {
    -moz-transform:  translate(40px,15px)  ;
  }
  50% {
    -moz-transform:  translate(60px,25px)  ;
  }
  76% {
    -moz-transform:  translate(80px,35px)  ;
  }
  100% {
    -moz-transform:  translate(100px,40px)  ;
  }
}

@-webkit-keyframes link6Go {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  26% {
    -webkit-transform:  translate(40px,15px)  ;
  }
  50% {
    -webkit-transform:  translate(60px,25px)  ;
  }
  76% {
    -webkit-transform:  translate(80px,35px)  ;
  }
  100% {
    -webkit-transform:  translate(100px,40px)  ;
  }
}

@-o-keyframes link6Go {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  26% {
    -o-transform:  translate(40x,15px)  ;
  }
  50% {
    -o-transform:  translate(60px,25px)  ;
  }
  76% {
    -o-transform:  translate(80px,35px)  ;
  }
  100% {
    -o-transform:  translate(100px,40px)  ;
  }
}

.link6Back{
  animation: link6Back linear 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: link6Back linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: link6Back linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: link6Back linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: link6Back linear 0.3s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes link6Back{
  0% {
    transform:  translate(100px,40px)  ;
  }
  26% {
    transform:  translate(60px,25px)  ;
  }
  50% {
    transform:  translate(40px,15px)  ;
  }
  76% {
    transform:  translate(20px,5px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes link6Back{
  0% {
    -moz-transform:  translate(100px,40px)  ;
  }
  26% {
    -moz-transform:  translate(60px,25px)  ;
  }
  50% {
    -moz-transform:  translate(40px,15px)  ;
  }
  76% {
    -moz-transform:  translate(20px,5px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes link6Back {
  0% {
    -webkit-transform:  translate(100px,40px)  ;
  }
  26% {
    -webkit-transform:  translate(60px,25px)  ;
  }
  50% {
    -webkit-transform:  translate(40px,15px)  ;
  }
  76% {
    -webkit-transform:  translate(20px,5px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes link6Back {
  0% {
    -o-transform:  translate(100px,40px)  ;
  }
  26% {
    -o-transform:  translate(60px,25px)  ;
  }
  50% {
    -o-transform:  translate(40px,15px)  ;
  }
  76% {
    -o-transform:  translate(20px,5px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes link6Back {
  0% {
    -ms-transform:  translate(100px,40px)  ;
  }
  26% {
    -ms-transform:  translate(60px,25px)  ;
  }
  50% {
    -ms-transform:  translate(40px,15px)  ;
  }
  76% {
    -ms-transform:  translate(20px,5px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}




























.link4Go{
  animation: link4Go linear 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: link4Go linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: link4Go linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: link4Go linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
}

@keyframes link4Go{
  0% {
    transform:  translate(0px,0px)  ;
  }
  26% {
    transform:  translate(-10px,30px)  ;
  }
  50% {
    transform:  translate(-20px,45px)  ;
  }
  76% {
    transform:  translate(-30px,60px)  ;
  }
  100% {
    transform:  translate(-40px,70px)  ;
  }
}

@-moz-keyframes link4Go{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  26% {
    -moz-transform:  translate(-10px,30px)  ;
  }
  50% {
    -moz-transform:  translate(-20px,45px)  ;
  }
  76% {
    -moz-transform:  translate(-30px,60px)  ;
  }
  100% {
    -moz-transform:  translate(-40px,70px)  ;
  }
}

@-webkit-keyframes link4Go {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  26% {
    -webkit-transform:  translate(-10px,30px)  ;
  }
  50% {
    -webkit-transform:  translate(-20px,45px)  ;
  }
  76% {
    -webkit-transform:  translate(-30px,60px)  ;
  }
  100% {
    -webkit-transform:  translate(-40px,70px)  ;
  }
}

@-o-keyframes link4Go {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  26% {
    -o-transform:  translate(-10x,30px)  ;
  }
  50% {
    -o-transform:  translate(-20px,45px)  ;
  }
  76% {
    -o-transform:  translate(-30px,60px)  ;
  }
  100% {
    -o-transform:  translate(-40px,70px)  ;
  }
}

.link4Back{
  animation: link4Back linear 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: link4Back linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: link4Back linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: link4Back linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: link4Back linear 0.3s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes link4Back{
  0% {
    transform:  translate(-40px,70px)  ;
  }
  26% {
    transform:  translate-(30px,40px)  ;
  }
  50% {
    transform:  translate(-20px,25px)  ;
  }
  76% {
    transform:  translate(-10px,10px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes link4Back{
  0% {
    -moz-transform:  translate(-40px,70px)  ;
  }
  26% {
    -moz-transform:  translate(-30px,40px)  ;
  }
  50% {
    -moz-transform:  translate(-20px,25px)  ;
  }
  76% {
    -moz-transform:  translate(-10px,10px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes link4Back {
  0% {
    -webkit-transform:  translate(-40px,70px)  ;
  }
  26% {
    -webkit-transform:  translate(-30px,40px)  ;
  }
  50% {
    -webkit-transform:  translate(-20px,25px)  ;
  }
  76% {
    -webkit-transform:  translate(-10px,10px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes link4Back {
  0% {
    -o-transform:  translate(-40px,70px)  ;
  }
  26% {
    -o-transform:  translate(-30px,40px)  ;
  }
  50% {
    -o-transform:  translate(-20px,25px)  ;
  }
  76% {
    -o-transform:  translate(-10px,10px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes link4Back {
  0% {
    -ms-transform:  translate(-40px,70px)  ;
  }
  26% {
    -ms-transform:  translate(-30px,40px)  ;
  }
  50% {
    -ms-transform:  translate(-20px,25px)  ;
  }
  76% {
    -ms-transform:  translate(-10px,10px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}





















.link3Go{
  animation: link3Go linear 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: link3Go linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: link3Go linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: link3Go linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
}

@keyframes link3Go{
  0% {
    transform:  translate(0px,0px)  ;
  }
  26% {
    transform:  translate(-40px,15px)  ;
  }
  50% {
    transform:  translate(-60px,25px)  ;
  }
  76% {
    transform:  translate(-80px,35px)  ;
  }
  100% {
    transform:  translate(-100px,40px)  ;
  }
}

@-moz-keyframes link3Go{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  26% {
    -moz-transform:  translate(-10px,15px)  ;
  }
  50% {
    -moz-transform:  translate(-20px,25px)  ;
  }
  76% {
    -moz-transform:  translate(-30px,35px)  ;
  }
  100% {
    -moz-transform:  translate(-40px,40px)  ;
  }
}

@-webkit-keyframes link3Go {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  26% {
    -webkit-transform:  translate(-10px,15px)  ;
  }
  50% {
    -webkit-transform:  translate(-20px,25px)  ;
  }
  76% {
    -webkit-transform:  translate(-30px,35px)  ;
  }
  100% {
    -webkit-transform:  translate(-40px,40px)  ;
  }
}

@-o-keyframes link3Go {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  26% {
    -o-transform:  translate(-40x,15px)  ;
  }
  50% {
    -o-transform:  translate(-60px,25px)  ;
  }
  76% {
    -o-transform:  translate(-80px,35px)  ;
  }
  100% {
    -o-transform:  translate(-100px,40px)  ;
  }
}

.link3Back{
  animation: link3Back linear 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: link3Back linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: link3Back linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: link3Back linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: link3Back linear 0.3s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes link3Back{
  0% {
    transform:  translate(-100px,40px)  ;
  }
  26% {
    transform:  translate-(-60px,25px)  ;
  }
  50% {
    transform:  translate(-40px,15px)  ;
  }
  76% {
    transform:  translate(-20px,5px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes link3Back{
  0% {
    -moz-transform:  translate(-100px,40px)  ;
  }
  26% {
    -moz-transform:  translate(-60px,25px)  ;
  }
  50% {
    -moz-transform:  translate(-40px,15px)  ;
  }
  76% {
    -moz-transform:  translate(-20px,5px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes link3Back {
  0% {
    -webkit-transform:  translate(-100px,40px)  ;
  }
  26% {
    -webkit-transform:  translate(-60px,25px)  ;
  }
  50% {
    -webkit-transform:  translate(-40px,15px)  ;
  }
  76% {
    -webkit-transform:  translate(-20px,5px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes link3Back {
  0% {
    -o-transform:  translate(-100px,40px)  ;
  }
  26% {
    -o-transform:  translate(-60px,25px)  ;
  }
  50% {
    -o-transform:  translate(-40px,15px)  ;
  }
  76% {
    -o-transform:  translate(-20px,5px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes link3Back {
  0% {
    -ms-transform:  translate(-100px,40px)  ;
  }
  26% {
    -ms-transform:  translate(-60px,25px)  ;
  }
  50% {
    -ms-transform:  translate(-40px,15px)  ;
  }
  76% {
    -ms-transform:  translate(-20px,5px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}