
#link1:hover, #link2:hover, #link3:hover, #link4:hover, #link5:hover, #link6:hover{
  
  opacity: 0.5;
  
}

/*
#link1:active, #link2:active, #link3:active, #link4:active, #link5:active, #link6:active{
  
  opacity: 1; transition: all 0.01s;
  
}


#btn1, #btn2 {
    transition: all 0.4s;
}
#btn1:hover, #btn2:hover {
    opacity: 0.8; transition: all 0.4s;
}

#btn1:active, #btn2:active {
    opacity: 1; transition: all 0.1s;
}
*/

div.containerLeft, div.containerRight{
    position: static;
}

div#linkset1, div#btnset1, div#linkset2, div#btnset2 {
    position: absolute;
}



div#linkset1, div#linkset2{
    z-index: 1;
}
div#btnset1, div#btnset2{
    z-index: 2;
}
div.linksLeft > img, div.linksRight > img {
    position: absolute;
}
#btn1, #btn2 {
    z-index: 10;
}
#link1 {
    z-index: 1;
}
#link2 {
    z-index: 2;
}
#link3{
    z-index: 1;
}
#link4{
    z-index: 2;
}
#link5{
    z-index: 3;
}
#link6{
    z-index: 4;
}