<div class="container">
    <div class="row">
        <div class="containerLeft col-xs-6" style="background-color:yellow;">
            <div id="btnset1" (click)="toggleLeftAnimations()">
                <img id="btn1" src="./icons/search64.png">
            </div>
            <div id="linkset1" class="linksLeft">
                <img id="link1" src="./icons/analytics64.png">
                <img id="link2" src="./icons/laptop64.png">
            </div>
            <!-- 
                Link 1: Indicadores de gestion
                Link 2: Indicadores de uso del sistema
            -->
        </div>
        <div class="containerRight col-xs-6" style="background-color:blue;">
            <div id="btnset2" (click)="toggleRightAnimations()">
                <img id="btn2" src="./icons/books64.png">
            </div>
            <div id="linkset2" class="linksLeft">
                <img [routerLink]="['/admin/universidades']" id="link3" src="./icons/school64.png">
                <img id="link4" src="./icons/trophy64.png">
                <img id="link5" src="./icons/graduation64.png">
                <img id="link6" src="./icons/radar64.png">
            </div>
            
            <!-- 
                Link 3: Universidades
                Link 4: 
            -->
        </div>
        
    </div>
</div>