<div class="jumbotron text-center">
  <h1>SIRES OPSU SIG</h1>
  <p class="lead">Bienvenido a la pagina de prueba del sistema. Registrese o inicie sesion</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Registrarse</a> 
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Un servidor Nodejs/Express solido utilizando Mongoose para organizar los modelos y las consultas a la base de datos en MongoDB</p>
  </div>
  
  <div class="col-md-4">
    <h3>Angular 4</h3>
    <p>Angular 4 para generar componentes servicios con la herramienta Angular-Cli para desarrollo local del servidor y compilacion</p>
  </div>
  
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Autenticacion completa usando JSON web token. Inicio de sesion y almacenaje de datos de usuarios</p>
  </div>
</div>